<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Hair Salon App</h1>
    <p class="text-center"><strong>Finally, a place to keep track of the amazing one to many relationship</strong><br><strong>of your hair stylists and their clients...</strong><br>yah, we got your back.</p>
    <%= yield %>
  </div>
</body>
</html>
