/*body {
  background-image: url("/img/field.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: auto;
}*/

body {
  background: url('/img/field.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Noto Serif', serif;
}
